* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 50px;
  margin-left: 125px;
  margin-right: 125px;
  padding: 50px;
  background-color: crimson;
  font-family: monospace;
}

main {
  max-width: 1400px;
  min-width: 600px;
}

table {
  text-align: left;
  font-family: monospace, arialono;
  margin-top: 50px;
  margin-bottom: 50px;
}

th {
  font-size: 30px;
  text-align: center;
  background-color: chocolate;
  padding: 50px;
}

tr, td {
  padding: 10px 10px;
  font-size: 20px;
}

td {
  font-weight: lighter;
  background-color: khaki;
  
}

.description {
  margin-left: 500px;
  margin-right: 500px;
}

tfoot td {
  font-size: 30px;
  text-align: center;
  background-color: chocolate;
  padding: 50px;
}

footer {
  text-align: center;
  font-size: 20px;
  margin: 50px;
  margin-left: 125px;
  margin-right: 125px;
  padding: 20px;
  background-color:darkgrey;
  font-family: monospace;
}
